.pl1 {

background-image: url(istockphoto-1347283792-170667a.jpg);
width: 500;
border-radius: 15px ;
height : 150; 
}

.pl2 {

    background-image: url(istockphoto-1347283792-170667a.jpg);
    width: 500;
    border-radius: 15px ;
    height: 150;
    }

    #text1 {

 color: white;




    }

    #text2 {

        color: white;
       
       
       
       
           }

           .bod {


background-image: url(https://coolbackgrounds.io/images/backgrounds/white/white-unsplash-9d0375d2.jpg);


}

#log {


background-color: blue;
color: white;
height: 30px;


}